.collection_tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

    .collection_tools__search {
        flex: 1;
    }

    .collection_tools__icon {
        height: 36px;
        width: 36px;
        font-size: 36px;
        padding: 5px;
        padding-bottom: 22px;

        &:hover {
            cursor: pointer;
        }
    }
}

.collection_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(166px, 1fr));
    grid-gap: 10px 15px;
    grid-auto-flow: row dense;
    padding: 20px;
    min-height: 200px;
    position: relative;

    .collection__spinner {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
    }

    .collection_emty {
        text-align: center;
        grid-column: 1 / -1;
    }
}

.collection__anime_card {
    background-color: #81a2e6;
    border-radius: 10px;
    border: none;

    .collection_mask {
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(#000, 0.2);

        .collection_mask__delete {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    &:hover {
        .collection_mask {
            visibility: visible;
        }
    }

    img {
        width: 100%;
        height: 250px;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        text-align: center;
    }
}
