<h2 mat-dialog-title>Add a new collection</h2>
<form [formGroup]="newCollectionForm" (ngSubmit)="saveNewCollection()">
    <mat-dialog-content class="mat-typography">
        <h3>Choose from existing</h3>
        <div class="new_collection_select_container">
            <mat-form-field class="new_collection_select">
                <mat-label>Select</mat-label>
                <mat-select formControlName="select">
                    <mat-option value="Books">Books</mat-option>
                    <mat-option value="Anime">Anime</mat-option>
                    <mat-option value="TV shows">TV shows</mat-option>
                    <mat-option value="Movies">Movies</mat-option>
                </mat-select>
            </mat-form-field>
            <button
                class="clear_selection_button"
                *ngIf="newCollectionForm.get('select')?.value"
                mat-icon-button
                color="primary"
                type="button"
                (click)="clearSelection()">
                <mat-icon class="clear_selection_icon">close</mat-icon>
            </button>
        </div>

        <h3>OR add your own collection!</h3>
        <mat-form-field class="add_collection_input">
            <mat-label>Collection Name</mat-label>
            <input formControlName="input" matInput type="text" />
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="new_collection_error">
            <mat-error
                *ngIf="
                    newCollectionForm.dirty &&
                    newCollectionForm.hasError('bothOrNoneFilled')
                "
                >Please, choose one option</mat-error
            >
        </div>
        <div class="action_buttons">
            <button
                mat-button
                type="submit"
                [disabled]="!newCollectionForm.valid">
                Add
            </button>
            <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
                Cancel
            </button>
        </div>
    </mat-dialog-actions>
</form>
