.collection_title {
    text-align: center;
}

mat-dialog-content {
    width: 100%;
    text-align: center;
}

.collection_actions {
    display: flex;
    justify-content: center;

    .collection_actions__search {
        flex: 1;
        max-width: 400px;
    }
}

.collection_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(166px, 1fr));
    grid-gap: 10px 15px;
    grid-auto-flow: row dense;
    padding: 20px;
    min-height: 180px;
    position: relative;
    text-align: center;

    .collection_container__spinner {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
    }

    .collection_emty {
        text-align: center;
        grid-column: 1 / -1;
    }
}

.collection_card {
    background-color: #81a2e6;
    border-radius: 10px;

    &.added {
        background-color: rgb(33, 122, 45);
    }

    &.in_colletion {
        opacity: 0.6;
    }

    img {
        width: 100%;
        height: 150px;
    }

    span {
        display: block;
        text-align: center;
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
}
