<img
	class="profile_avatar"
	src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png"
	alt="avatar" />

<div class="profile_actions">
	<button
		mat-raised-button
		(click)="openAddCollectionDialog()"
		class="profile_actions__add">
		Add collection
	</button>
	<button
		(click)="isDeleteMode = !isDeleteMode"
		color="warn"
		class="profile_actions__delete"
		mat-mini-fab>
		<mat-icon>delete</mat-icon>
	</button>
</div>

<mat-list class="profile_collections">
	@for (item of collections; track item.id) {
		<mat-list-item
			[routerLink]="['collections', item.path]"
			class="profile_collections__item">
			<span matLine> {{ item.title }} </span>
			<mat-icon
				(click)="removeCollection(item)"
				color="warn"
				*ngIf="isDeleteMode"
				class="profile_collections__icon"
				>delete</mat-icon
			>
		</mat-list-item>

		<mat-divider></mat-divider>
	} @empty {
		<div class="profile_collections__empty">No added collections yet</div>
	}
</mat-list>
